<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.insa.telecom.blemobile" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>INSA X-Platform BLE</name>
    <description>
      INSA X-Platform BLE app demo. 
    </description>
    <author email="alexis.duque@insa-lyon.fr" href="http://telecom.insa-lyon.fr">
        Alexis DUQUE
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
      <preference name="SplashScreen" value="screen" />
      <preference name="SplashScreenDelay" value="3000" />
    </platform>

</widget>
